.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  
}

.left-section,
.right-section {
  margin: 5px;
  flex: 1;
}

.clothing-item img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  
  max-width: 100%;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.color-selector,
.size-selector,
.quantity-selector {
  margin-top: 20px;
  padding: 15px;
}

.color-selector p,
.size-selector p,
.quantity-selector p {
  font-weight: bold;
  margin-bottom: 5px;
  
}

.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline
}

body {
  background-color: white;
  color: black;
}


  .size-option {
    margin: 10px; 
  }

 .plus-button {
  margin: 10px;
 }